@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}
body {
  font-family: "Secular One", sans-serif;
}
.navigation {
  font-family: "Lobster", cursive;
}
.nav-link:hover {
  border: 2px solid white;
  border-radius: 20%;
}

.banner-image-container {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1590577976322-3d2d6e2130d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 590px;

  background-position: center;
}
/* contact form */
.contact-form-container {
  margin: 0 auto;
  width: 60%;
  padding: 20px;
}
.nav-item .active {
  border: 1px solid white;
  border-radius: 20%;
}
.contact-form-container .title {
  background-color: black;
}
.contact-form-container .title p {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem;
}
.contact-information-section {
  padding: 1rem;
  background-color: rgb(59, 58, 58);
}
.contact-information-section .title p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  color: white;
}
.contact-information-container {
  /* margin-top: 1rem; */
  margin: 0 auto;
  padding-top: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  width: 60%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.contact-information-container p {
  padding: 0.2rem;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-family: "Lobster", cursive;
}
.social {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.ftco-section {
  padding: 6em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0px; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  background: #232323; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", Arial, sans-serif; }
  .ftco-footer .ftco-footer-widget ul li a span {
    color: #fff; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #b69100; }

.media .ftco-icon {
  width: 100px; }
  .media .ftco-icon span {
    color: #b69100; }

.ftco-media {
  background: #fff;
  border-radius: 0px; }
  .ftco-media .heading {
    font-weight: normal; }
  .ftco-media.ftco-media-shadow {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    position: relative;
    top: 0; }
    .ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
      top: -3px;
      -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3); }
  .ftco-media .icon {
    font-size: 50px;
    display: block;
    color: #b69100; }
  .ftco-media.text-center .ftco-icon {
    margin: 0 auto; }

.ftco-overflow-hidden {
  overflow: hidden; }

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px; }
